<div class="banner" style="background-image: linear-gradient(225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 80%), url(<%= image_path 'jockybw.jpg'%>);">
  <div class="banner-content">
    <h1><%= image_tag 'killnb.png'%></h1>
    <p>A Very cool Team of killers, A service useful, smart and easy</p>
    <div class="form-inline">
      <%= render 'shared/search_form' %>
    </div>
    <br>

    <%= link_to assets_path do %>
      <%= image_tag 'killme.png' %>
    <% end %>

<%= content_for(:pre_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=<%= ENV['GOOGLE_KEY_API'] %>"></script>
<% end %>
  </div>
</div>

