<!-- Banner Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Just some of our best killers.</h1>
                    <p>Choose from the best. Check out their latest piece of work.</p>
                </div>
            </div>
         </div>
    </div>
</section>
<div class="container">
    <div class="row">
     <div class="col-md-12">
            <% @assets.each do |asset| %>
        <div class="col-md-3 col-sm-6">
              <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                          <div class="card-header" style="background: rgba(189,189,189,1);">
                          </div>
                        </div>
                        <div class="user">
                            <%= link_to asset_path(asset) do %>
                              <%= cl_image_tag asset.picture.path, class: 'img-circle' %>
                            <% end %>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name"><%= asset.username %></h3>
                                <p class="profession">Hitman</p>
                                <p class="text-center"><%= asset.profile_description %></p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                <%= link_to asset_path(asset) do %>
                    <div class="back">
                        <div class="header">
                            <h5 class="motto"><%= asset.weapons %></h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center"><%= asset.city %></h4>
                                <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                <div class="stats-container">
                                    <div class="stats">
                                        <h4>235</h4>
                                        <p>
                                            XP
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h4><%= asset.number_of_kills %></h4>
                                        <p>
                                            Number of Kills
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h4>35</h4>
                                        <p>
                                            Rating
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <div class="social-links text-center">
                                <a href="http://coincoin.pan" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                <a href="http://coincoin.pan" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                <a href="http://coincoin.pan" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
                <% end %>
              </div> <!-- end card-container -->
            </div> <!-- end col md 4 -->
        <% end %>
      </div> <!-- end col sm 10 -->
    </div> <!-- end row -->
  </div> <!-- end container -->
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<!-- <div id="map" style="width: 100%; height: 500px;"></div>

    <%# content_for(:after_js) do %>

        <script>
        $(document).ready(function() {

            var styles = [{"featureType":"administrative","elementType":"all","stylers":[{"saturation":"-100"}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"all","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","elementType":"all","stylers":[{"saturation":-100},{"lightness":"50"},{"visibility":"simplified"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":"-100"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"all","stylers":[{"lightness":"30"}]},{"featureType":"road.local","elementType":"all","stylers":[{"lightness":"40"}]},{"featureType":"transit","elementType":"all","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]},{"featureType":"water","elementType":"labels","stylers":[{"lightness":-25},{"saturation":-100}]}]

            var handler = Gmaps.build('Google');
            handler.buildMap({
              provider: {
                styles: styles
              },
              internal: { id: 'map' }}, function() {
                markers = handler.addMarkers([<%#= raw @hash.to_json %>]);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                if (markers.length == 0) {
                  handler.getMap().setZoom(2);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
              });
            });
          </script>

    <%# end %> -->

    <div id="map" style="width: 100%; height: 600px;"></div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      <% end %>
    <% end %>



<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>


