<!-- Slider Start -->
        <section id="global-header">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="block">
                  <h1>Book a job with me</h1>
                  <p>Don’t just hesitate, go for it!. Check out some of my latest work.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- contact form start -->
        <section id="contact-form">
          <div class="container">
            <div class="row">
            <div id="contact-box" class="row">
              <div class="col-md-6 col-sm-12">
                <div class="block">
                  <h2>A little bit more about me</h2>
                  <ul class="address-block">
                    <li>
                      <i class="Username"></i>Username : <%= @asset.username %>
                    </li>
                     <li>
                      <i class="Description"></i>Description : <%= @asset.profile_description %>
                    </li>
                    <li>
                      <i class="Weapons"></i>Weapons : <%= @asset.weapons %>
                    </li>
                    <li>
                      <i class="City"></i>City : <%= @asset.city %>
                    </li>
                    <li>
                      <i class="Kills"></i>Number of kills : <%= @asset.number_of_kills %>
                    </li>
                  </ul>
                  <ul class="social-icons">
                    <li><i class="fa fa-google"></i></li>
                    <li><i class="fa fa-linkedin"></i></li>
                    <li><i class="fa fa-pinterest"></i></li>
                    <li><i class="fa fa-dribbble"></i></li>
                    <li><i class="fa fa-behance"></i></li>
                    <li><i class="fa fa-twitter"></i></li>
                    <li><i class="fa fa-facebook"></i></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="block">
                  <h2>Find me on Google Map</h2>
                    <div class="google-map">
                      <div id="map"></div>
                    </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="blocktest">
                   <%= render "jobs/form" %>
                </div>
              </div>
            </div>
            </div>
          </div>
        </section>
        <!-- Call to action Start -->
        <section id="call-to-action">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="block">
                  <h2>We simply kill people.</h2>
                  <p>Read more about what we do and our philosophy of getting the job done. Judge for yourself! The work and results we’ve achieved for our clients, and meet our highly experienced Team who just love to kill.</p>
                  <a class="btn btn-default btn-call-to-action" href="#" >Send us a review</a>
                </div>
              </div>
            </div>
          </div>
        </section>
    <% content_for(:after_js) do %>
      <script>
        $(document).ready(function() {
          var styles = [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]
          var handler = Gmaps.build('Google');
          handler.buildMap({
            provider: {
              styles: styles
            },
            internal: { id: 'map' }
            }, function() {
            markers = handler.addMarkers([<%= raw @asset_coordinates.to_json %>]);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      </script>
    <% end %>
  </div>
</div>